@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
}

html,
body,
:root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.container-responsive {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
